@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: linear-gradient(#000000bb, #000000bb), url('https://www.opovo.com.br/_midias/jpg/2023/01/31/comes_e_bebes_pizzas_ousadas_top_familia___2-20976273.jpg');
    background-repeat: no-repeat;
}

.font-title {
    font-family: "Great Vibes", serif;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}
